*
{
	margin: 0;
	/* body-8 */
	padding: 0;
	text-decoration: none;
	/* 文本修饰 无 */
	font-style: normal;
	list-style: none;
	/* 选中高亮的颜色清楚 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* 设置自动计算宽高到border */
	box-sizing: border-box;
}
img
{
	width: 100%;
	height: 100%;
	border: 0; /* 因为默认有边框 */
	display: block;
}
a{
	color: #000000;
}